.destination{
    padding: 1.5rem;
    background: var(--black);
    min-height: 100vh;
    color: white;
    font-weight: 400;
}
.destination__Picker{
    display: flex;
    justify-content: center;
}
.destination__Picker p:nth-child(1){
    color: gray;
}
.destination__Picker p{
    margin-right: 10px;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: var(--condensed);
    font-weight: 400;
}
.destination__Image{
    width: 150px;
    display: block;
    margin: 20px auto;
}

.destination__Options{
display: flex;
justify-content: space-evenly;

}
.destination__Option{
    text-decoration: none;
    
    font-family: var(--condensed);
    color: white;
}

.destination h1{
    text-align: center;
    margin: 20px 0px;
    /* line-height: ; */
    font-size: 56px;
    font-weight: 400;
    font-family: var(--bellefair);

}
.destination >p {
    text-align: center;
    margin-bottom: 10px;

    
}
.destination__About{
    
    font-family: var(--barlow);
    font-size: 15px;
}
.destination hr{
    margin: 20px 0px;
    border:1px solid gray;
}
.destination h2{
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: var(--barlow);
    font-weight: 400;
    font-size: 28px;
}
.destination img{
    max-width: 100%;
    height:auto;
}

.destination__AVG{
    
    font-family: var(--condensed);
}

.destination .true{
    padding-bottom: 10px;
    /* padding-inline:10px ; */
    border-bottom: 2px solid white;
}