.homepage{
    background: url('./assets/home/background-home-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
min-height: 100vh;
padding: 1.5rem;
text-align: center;
color: white;
font-weight: 400;
}


.homepage__Title{
margin: 7vh 0px 0vh 0px;    
font-size: 16px;
font-family: var(--condensed) ;
color: var(--light-white);
letter-spacing: 2.7px;
font-weight: 400;
}
.homepage__Name{
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 5vh;
    font-family: var(--bellefair);
    color: white;
    text-transform: uppercase;
}
.homepage__About{
    font-size: 15px;
    line-height: 25px;
    font-family: var(--barlow);
color: var(--light-white);

}

.homepage button{
    /* text-align: left; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3vh;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    font-size: 1.25rem;
    border:none;
    font-family: var(--bellefair);
    font-weight: 400;
    font-style: normal;;
    color: #0B0D17;
    cursor: pointer;
    
}

@media screen and (min-width:768px) {
    .homepage{
        background: url('./assets/home/background-home-tablet.jpg');
        padding: 0px;
        padding-left: 20px;
    }
    .homepage__Content{
        width: 50vw;
        margin: 15vh auto;
    }
}

@media screen and (min-width:1440px) {
    .homepage{
        background: url('./assets/home/background-home-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 131px;
    }
    .homepage__Body{
        margin-top: 87px;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        padding-bottom: 0;
        margin-bottom: 0%;
    }
    .homepage__Content{
        margin-bottom: 0;
        max-width: 450px;
        margin: 0%;
    }
    .homepage__Name{
        font-size: 150px;
        line-height: 172px;
    }
    .homepage__Title{
        font-size: 28px;
        line-height: 33.6px;
        letter-spacing: 4.76px;
    }
    .homepage__About{
        padding:0;
        margin: 0;
        font-size: 18px;
        line-height: 32px;
        text-align: justify;
    }
    .homepage button{
        font-size: 32px;
        position: relative;
        width: 274px;
        height: 274px;
        bottom: 0;
    }
    .homepage button:hover::before{
        position: absolute;
        content: '';
        width:150%;
        height:150%;
        top: -25%;
        bottom: 0%;
        right: 0%;
        left: -25%;
        border-radius:50% ;
        background: rgb(223, 223, 228,0.1);
        z-index: -1;
        /* border: 15px solid rgba(255, 255, 2, 1); */
    }
}