.launch{
    background-color: #0b0d17;
    color: white;
    background: url('./assets/technology/background-technology-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
text-align: center;

/* padding: 1.5rem 0px; */
/* padding-bottom: 10vh */
}
.launch__Navbar{
    
padding: 1.5rem;
padding-bottom: 0px;
}

.launch__Image{
    /* height:170px; */
    margin: 51px 0px;
/* position: absolute; */
}
.launch__Circle{
    display: flex;
    justify-content: center;
}
.launch__Circle .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: hsl(230°, 35%, 7%);
    text-align: center;
    color: white;
    /* align-items: center; */
    margin:0px 10px;
    cursor: pointer;
}
.launch__Circle .active{
    background-color: white;
    color: black;
} 

.launch__Terminology{
    margin:20px 0px 0px 0px;
    font-size: 14px;
    font-family: var(--condensed);
    font-weight: 400;
    color: var(--light-white);

}
.launch__Name{
    margin: 5px 0px 20px 0px;
    font-family: var(--bellefair);
    font-size: 24px;
    font-weight: 400;
}
.launch__About{
    
    padding-inline: 1rem;
    font-size: 15px;
    
    font-family: var(--barlow);
    color: var(--light-white);
}


@media screen and (min-width:768px) {
    .launch__Navbar{
        padding: 0%;
        padding-left: 39px;

    }

    

 .launch__Image{
     margin-top: 60px;
     margin-bottom: 56px;

 }
 .launch__Terminology{
     font-size: 16px;
 }
 .launch__Name{
     margin-top: 16px;
     font-size: 40px;
 }
    .launch__About{
        margin-top: 16px;
        width: 70vw;
        margin-inline: auto;
    }
    .launch .destination__Picker{
        margin-left: 38px;
    }
}

@media screen and (min-width:1440px) {
    .launch{
        background: url('./assets/technology/background-technology-desktop.jpg');
        
    background-repeat: no-repeat;
    background-size: cover;
    }
 /* .launch .destination__Picker{
     margin-left: 10vw;
 } */
    .launch__Body{
        display: flex;
        min-height: 60vh;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    .launch__Left{
        display: flex;
        align-items: center;
padding-left: 15vw;

    }
    .launch__Circle{
        flex-direction: column;
        margin-right: 3vw;
    }
    .launch__Circle .circle{
        margin-bottom: 2vh;
        width: 80px;
        height: 80px;
        font-size: 32px;
        line-height: 36.67px;
    }
    .launch__Circle .circle:hover{
            border: 1px solid white;
    }
    .launch__Content{
        max-width: 470px;
    }
    .launch__Terminology{
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: 2.7px;
    }
    .launch__Name{
        font-size: 56px;
        line-height: 64px;
    }
    .launch__About{
        max-width: 470px;
        font-size: 18px;
        line-height: 32px;
        text-align: justify;
    }
    .launch__Image{
        max-width: 515px;
        max-width: 100%;
        margin: 20px 0px;
        /* height: 527px; */
    }

.launch__Image img{
    height: 100%;
}
}